<p>Test start</p>
  <ng-container #ngContainer></ng-container>

  <ng-container [ngTemplateOutlet]="template"></ng-container>

  <ng-container *ngTemplateOutlet="templateWithContext; context: contextForTemplate"></ng-container>
<!--or:-->
<!--  <ng-container [ngTemplateOutlet]="templateWithContext" [ngTemplateOutletContext]="contextForTemplate"></ng-container>-->

  <ng-container *ngTemplateOutlet="innerTemplate; context: {$implicit: 'Cosmos', surname: 'Doe'}"></ng-container>
  <ng-template #innerTemplate let-name let-surname="surname">
    <p>
      <span>{{name}} </span> <span>{{surname}}</span>
    </p>
  </ng-template>
<p>Test end</p>

<!--ngFor with template-->
<!--<ng-container *ngFor="let number of data;let i = index;let isEven=even;template: tpl"></ng-container>-->
<ng-container *ngFor="let user of users; index as i; even as isEven; template: tpl"></ng-container>

<ng-template #tpl let-user let-isEven="even" let-i="index">
  <p [class.even]="isEven">{{i}} : {{user.name}}</p>
</ng-template>





