<app-divider>
  <app-zone-playaround></app-zone-playaround>
</app-divider>

<app-divider>
  <app-registartion-form></app-registartion-form>
</app-divider>

<app-divider>
  <app-task-builder>
    <p *insertToCertainSlotInParent>Some text for header</p>
    <p>Some text for content</p>
  </app-task-builder>
</app-divider>

<app-divider>
  <p *appSimple>This is a simple structural directive</p>
  <p
    *mip="true; param: 'Some text'; template: tplForDirective; templateCtx: {info: 'Some info', id: 1} "
  >This is a complex structural directive with multiple inputs</p>
  <ng-template #tplForDirective let-info="info" let-id="id">
    <p>
      <span>MultipleInputParamsDirective directive template;</span>
      <span>{{info}}</span>
      <span>{{id}}</span>
    </p>
  </ng-template>
</app-divider>

<app-divider>
  <router-outlet></router-outlet>
</app-divider>


<app-divider>
  <app-template-usages [template]="template" [templateWithContext]="templateWithCtx"></app-template-usages>

  <ng-template #tpl>
    <p>template from parent component</p>
  </ng-template>

  <ng-template #templateWithCtx let-name="name" let-age="age" let-admin="admin">
    <p>Template with context</p>
    <span>{{name}} - </span>
    <span>{{age}} - </span>
    <span>{{admin}}</span>
  </ng-template>
</app-divider>


<app-divider>
  <app-custom-input-testing></app-custom-input-testing>
</app-divider>

