<nav>
  <ul class="navbar-main">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/eager" >Eager</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/lazy']">Lazy</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/standalone']">Standalone</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/book-first']">Book first</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/book-second']">Book second</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/book-third']">Book third (lazy)</a></li>
  </ul>
</nav>
